<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>@ResourceProvider.GetCurrentContentTitle()</title>

    @Styles.Render("~/Content/Bootstrap/Bundle")
    @Styles.Render("~/Content/FontAwesome/Bundle")
    @Styles.Render("~/Content/Select2/Bundle")
    @Styles.Render("~/Content/Auth/Bundle")
    @Styles.Render("~/Content/Shared/Bundle")
</head>
<body>
    <div id="AuthContainer">
        <div id="AuthContent">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Scripts/JQuery/Bundle")
    @Scripts.Render("~/Scripts/Select2/Bundle")
    @Scripts.Render("~/Scripts/Shared/Bundle")
    @Scripts.Render("~/Scripts/Auth/Bundle")
</body>
</html>