@model AccountLoginView

@using (Html.BeginForm())
{
    @Html.Partial("_AlertMessages")

    @Html.AntiForgeryToken()
    using (Html.InputGroup())
    {
        @Html.AuthUsernameFor(model => model.Username)
    }
    using (Html.InputGroup())
    {
        @Html.AuthPasswordFor(model => model.Password)
    }
    using (Html.InputGroup())
    {
        @Html.AuthLanguageSelect()
    }
    using (new FormWrapper(Html.ViewContext.Writer, "auth-form-actions"))
    {
        <div class="left-panel">
            @Html.ActionLink(MvcTemplate.Resources.Views.AccountView.Texts.CreateNewAccount, "Register")
        </div>
        @Html.Submit(MvcTemplate.Resources.Shared.Resources.Login)
    }
    <script>
        var currentLanguage = '@Request.RequestContext.RouteData.Values["language"].ToString()';
    </script>
}
