@model AccountLoginView

<div class="title text">@ResourceProvider.GetCurrentContentTitle()</div>
<div class="separator"></div>

@using (Html.BeginForm())
{
    @Html.Partial("_AuthAlerts")

    @Html.AntiForgeryToken()
    <div class="auth-content">
        @using (Html.InputGroup())
        {
            @Html.AuthUsernameFor(model => model.Username)
        }
        @using (Html.InputGroup())
        {
            @Html.AuthPasswordFor(model => model.Password)
        }
        @using (Html.InputGroup())
        {
            @Html.AuthLanguageSelect()
        }
    </div>

    @Html.SubmitFor(MvcTemplate.Resources.Shared.Resources.Login)
}

<div class="separator"></div>
<div class="auth-actions">
    @Html.ActionLink(
        " ",
        "Register",
        null,
        new
        {
            @class = "text fa fa-edit",
            rel = "tooltip",
            data_original_title = MvcTemplate.Resources.Views.AccountView.Texts.CreateNewAccount
        }
    )
    @Html.ActionLink(
        " ",
        "Recover",
        null,
        new
        {
            @class = "text fa fa-unlock-alt",
            rel = "tooltip",
            data_original_title = MvcTemplate.Resources.Views.AccountView.Texts.LostPassword
        }
    )
</div>