@model AccountLoginView

<div class="title text">@ResourceProvider.GetCurrentContentTitle()</div>
<div class="separator"></div>

@using (Html.BeginForm())
{
    @Html.Partial("_AuthAlerts")

    @Html.AntiForgeryToken()
    <div class="auth-content">
        @using (Html.InputGroup())
        {
            @Html.AuthUsernameFor(model => model.Username)
        }
        @using (Html.InputGroup())
        {
            @Html.AuthPasswordFor(model => model.Password)
        }
        @using (Html.InputGroup())
        {
            @Html.AuthLanguageSelect()
        }
    </div>

    @Html.SubmitFor(MvcTemplate.Resources.Shared.Resources.Login)
}

<div class="separator"></div>
