@model AccountRecoveryView

<div class="title text">@ResourceProvider.GetCurrentContentTitle()</div>
<div class="separator"></div>

@using (Html.BeginForm())
{
    @Html.Partial("_AuthAlerts")

    @Html.AntiForgeryToken()
    <div class="auth-content">
        @using (Html.InputGroup())
        {
            @Html.AuthEmailFor(model => model.Email)
        }
    </div>

    @Html.Submit(MvcTemplate.Resources.Shared.Resources.Recover)
}

<div class="separator"></div>