@model AccountView

<div class="title text">@ResourceProvider.GetCurrentContentTitle()</div>
<div class="separator"></div>

@using (Html.BeginForm())
{
    @Html.Partial("_AuthAlerts")

    @Html.AntiForgeryToken()
    <div class="auth-content">
        @using (Html.InputGroup())
        {
            @Html.AuthUsernameFor(model => model.Username, autocomplete: false)
        }
        @using (Html.InputGroup())
        {
            @Html.AuthPasswordFor(model => model.Password, autocomplete: false)
        }
        @using (Html.InputGroup())
        {
            @Html.AuthEmailFor(model => model.Email)
        }
    </div>

    @Html.SubmitFor(MvcTemplate.Resources.Shared.Resources.Register)
}

<div class="separator"></div>
<div class="auth-actions">
    @Html.ActionLink(
        " ",
        "Login",
        null,
        new
        {
            @class = "text fa fa-key",
            rel = "tooltip",
            data_original_title = MvcTemplate.Resources.Views.AccountView.Texts.Login
        }
    )
    @Html.ActionLink(
        " ",
        "Recover",
        null,
        new
        {
            @class = "text fa fa-unlock-alt",
            rel = "tooltip",
            data_original_title = MvcTemplate.Resources.Views.AccountView.Texts.LostPassword
        }
    )
</div>