@model RoleView

<div class="widget-box">
    <div class="widget-title">
        <span class="widget-title-icon fa fa-th-list"></span>
        <h5>@ResourceProvider.GetCurrentFormTitle()</h5>
        <div class="widget-title-buttons">
            @Html.WidgetButtons(LinkAction.Edit, LinkAction.Delete)
        </div>
    </div>
    <div class="widget-content">
        <div class="form-group">
            <div class="control-label col-sm-12 col-md-3 col-lg-2">
                @Html.FormLabelFor(model => model.Name)
            </div>
            <div class="control-content col-sm-12 col-md-9 col-lg-5">
                @Html.FormTextBoxFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-12 col-md-3 col-lg-2">
                @Html.FormLabelFor(model => model.PrivilegesTree)
            </div>
            <div class="control-content col-sm-12 col-md-9 col-lg-5">
                @Html.JsTreeFor(model => model.PrivilegesTree)
            </div>
        </div>
    </div>
</div>
