<!doctype html>
<html lang="@{@Request.RequestContext.RouteData.Values["language"]}">
<head>
    <meta charset="UTF-8" />
    <title>@ResourceProvider.GetCurrentContentTitle()</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/JQueryUI/Bundle")
    @Styles.Render("~/Content/Bootstrap/Bundle")
    @Styles.Render("~/Content/FontAwesome/Bundle")
    @Styles.Render("~/Content/GridMvc/Bundle")
    @Styles.Render("~/Content/JsTree/Bundle")
    @Styles.Render("~/Content/Datalist/Bundle")
    @Styles.Render("~/Content/Shared/Bundle")
    @Scripts.Render("~/Scripts/JQuery/Bundle")
</head>
<body>
    @Html.Partial("_Header")
    @Html.Partial("_Sidebar", MvcSiteMapFactory.Provider.GetMenus())
    @Html.Partial("_Datalist")
    <div id="Content">
        <div id="ContentHeader">
            <h1>@ResourceProvider.GetCurrentContentTitle()</h1>
        </div>
        <div id="ContentBreadcrumb">
            @Html.Partial("_Breadcrumb", MvcSiteMapFactory.Provider.GetBreadcrumb())
        </div>
        <div id="ContentContainer">
            <div class="col-xs-12">
                @Html.Partial("_AlertMessages")
                @RenderBody()
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
    @Scripts.Render("~/Scripts/Globalize/Bundle")
    @Scripts.Render("~/Scripts/Bootstrap/Bundle")
    @Scripts.Render("~/Scripts/JQueryUI/Bundle")
    @Scripts.Render("~/Scripts/GridMvc/Bundle")
    @Scripts.Render("~/Scripts/JsTree/Bundle")
    @Scripts.Render("~/Scripts/Datalist/Bundle")

    <script src="~/Scripts/GridMvc/Cultures/gridmvc.culture.@{@Request.RequestContext.RouteData.Values["language"]}.js"></script>
    <script src="~/Scripts/JQuery/Cultures/datepicker.culture.@{@Request.RequestContext.RouteData.Values["language"]}.js"></script>
    <script src="~/Scripts/Datalist/Cultures/datalist.culture.@{@Request.RequestContext.RouteData.Values["language"]}.js"></script>
    <script src="~/Scripts/Globalize/Cultures/globalize.culture.@{@Request.RequestContext.RouteData.Values["language"]}.js"></script>

    @Scripts.Render("~/Scripts/Shared/Bundle")
</html>