<!doctype html>
<html lang="@{@Request.RequestContext.RouteData.Values["language"]}">
<head>
    <meta charset="UTF-8" />
    <title>@ResourceProvider.GetCurrentContentTitle()</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/Content/Css/JQuery")
    @Styles.Render("~/Content/Css/Bootstrap")
    @Styles.Render("~/Content/Css/FontAwesome")
    @Styles.Render("~/Content/Css/GridMvc")
    @Styles.Render("~/Content/Css/JsTree")
    @Styles.Render("~/Content/Css/Datalist")
    @Styles.Render("~/Content/Css/Shared")
    @Scripts.Render("~/Scripts/JQuery")
</head>
<body>
    @Html.Partial("_Header")
    @Html.Partial("_Sidebar")
    @Html.Partial("_Datalist")
    <div id="Content">
        <div id="ContentHeader">
            <h1>@ResourceProvider.GetCurrentContentTitle()</h1>
        </div>
        <div id="ContentBreadcrumb">
            <!--<a data-original-title="Go to Home" href="#" title="" class="tip-bottom"><i class="fa fa-home"></i>Home</a>-->
            <a href="/" class="current"><i class="fa fa-home"></i>Home</a>
        </div>
        <div id="ContentContainer">
            <div class="col-xs-12">
                @Html.Partial("_AlertMessages")
                @RenderBody()
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
    @Scripts.Render("~/Scripts/Globalize")
    @Scripts.Render("~/Scripts/Bootstrap")
    @Scripts.Render("~/Scripts/JQueryUI")
    @Scripts.Render("~/Scripts/GridMvc")
    @Scripts.Render("~/Scripts/JsTree")
    @Scripts.Render("~/Scripts/Datalist")
    
    <script src="~/Scripts/GridMvc/Cultures/gridmvc.culture.@{@Request.RequestContext.RouteData.Values["language"]}.js"></script>
    <script src="~/Scripts/JQuery/Cultures/datepicker.culture.@{@Request.RequestContext.RouteData.Values["language"]}.js"></script>
    <script src="~/Scripts/Datalist/Cultures/datalist.culture.@{@Request.RequestContext.RouteData.Values["language"]}.js"></script>
    <script src="~/Scripts/Globalize/Cultures/globalize.culture.@{@Request.RequestContext.RouteData.Values["language"]}.js"></script>

    @Scripts.Render("~/Scripts/Shared")
</html>