<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>@ResourceProvider.GetCurrentContentTitle()</title>

    @Styles.Render("~/Content/JQueryUI/Bundle")
    @Styles.Render("~/Content/Bootstrap/Bundle")
    @Styles.Render("~/Content/FontAwesome/Bundle")
    @Styles.Render("~/Content/GridMvc/Bundle")
    @Styles.Render("~/Content/JsTree/Bundle")
    @Styles.Render("~/Content/Datalist/Bundle")
    @Styles.Render("~/Content/Shared/Bundle")
</head>
<body class="private">
    @Html.Partial("_Header")
    @Html.Partial("_Sidebar", MvcSiteMap.Provider.GetMenus())
    @Html.Partial("_Datalist")
    <div class="content-container clear">
        <div class="separator"></div>

        @Html.Partial("_Breadcrumb", MvcSiteMap.Provider.GetBreadcrumb())

        <div class="separator"></div>

        <div class="content">
            @Html.Partial("_Alerts")
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_Footer")

    @Scripts.Render("~/Scripts/JQuery/Bundle")
    @Scripts.Render("~/Scripts/Globalize/Bundle")
    @Scripts.Render("~/Scripts/Bootstrap/Bundle")
    @Scripts.Render("~/Scripts/JQueryUI/Bundle")
    @Scripts.Render("~/Scripts/GridMvc/Bundle")
    @Scripts.Render("~/Scripts/JsTree/Bundle")
    @Scripts.Render("~/Scripts/Datalist/Bundle")

    <script src="~/Scripts/GridMvc/Cultures/gridmvc.culture.@(UICulture).js"></script>
    <script src="~/Scripts/JQuery/Cultures/datepicker.culture.@(UICulture).js"></script>
    <script src="~/Scripts/Datalist/Cultures/datalist.culture.@(UICulture).js"></script>
    <script src="~/Scripts/Globalize/Cultures/globalize.culture.@(UICulture).js"></script>

    @Scripts.Render("~/Scripts/Shared/Bundle")
    @Html.RenderControllerScripts()
</body>
</html>