<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>@ResourceProvider.GetCurrentContentTitle()</title>

    @Styles.Render("~/Content/Bootstrap/Bundle")
    @Styles.Render("~/Content/FontAwesome/Bundle")
    @Styles.Render("~/Content/Shared/Bundle")
    @Styles.Render("~/Content/Auth/Bundle")
</head>
<body class="public">
    <div class="content-container">
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts/JQuery/Bundle")
    @Scripts.Render("~/Scripts/Bootstrap/Bundle")
    @Scripts.Render("~/Scripts/Shared/Bundle")
    @Html.RenderControllerScripts()
</body>
</html>