@using MvcTemplate.Resources.Views.AccountView

@model AccountView

<div class="title text">@ContentTitles.AuthRegister</div>
<div class="separator"></div>

@using (Html.BeginForm())
{
    @Html.Partial("_AuthAlerts")

    @Html.AntiForgeryToken()
    <div class="auth-content">
        <div class="input-group">
            <span class="fa fa-user"></span>
            @Html.TextBoxFor(model => model.Username, new { autocomplete = "off", placeholder = Titles.Username })
        </div>
        <div class="input-group">
            <span class="fa fa-lock"></span>
            @Html.PasswordFor(model => model.Password, new { autocomplete = "off", placeholder = Titles.Password })
        </div>
        <div class="input-group">
            <span class="fa fa-envelope"></span>
            @Html.TextBoxFor(model => model.Email, new { autocomplete = "off", placeholder = Titles.Email })
        </div>
    </div>
    <input class="btn btn-primary" type="submit" value="@Actions.Register" />
}

<div class="separator"></div>
<div class="auth-actions">
    @Html.ActionLink(
        " ",
        "Login",
        null,
        new
        {
            @class = "text fa fa-sign-in",
            rel = "tooltip",
            data_original_title = MvcTemplate.Resources.Views.AccountView.Texts.Login
        }
    )
    @Html.ActionLink(
        " ",
        "Recover",
        null,
        new
        {
            @class = "text fa fa-unlock-alt",
            rel = "tooltip",
            data_original_title = MvcTemplate.Resources.Views.AccountView.Texts.LostPassword
        }
    )
</div>