@model MvcSiteMapBreadcrumb
@{
    MvcSiteMapBreadcrumbNode current = Model.LastOrDefault();
}

<div class="content-breadcrumb">
    @foreach (MvcSiteMapBreadcrumbNode node in Model)
    {
        String nodeClass = node == current ? "current" : "";
        if (node.Action != null && node != current)
        {
            <a href="@Url.Action(node.Action, node.Controller, new { area = node.Area })" class="@nodeClass">
                <i class="@node.IconClass"></i>
                <span class="text">@node.Title</span>
            </a>
            <span class="fa fa-angle-right"></span>
        }

        if (node == current)
        {
            <a class="@nodeClass">
                <i class="@node.IconClass"></i>
                <span class="text">@node.Title</span>
            </a>
        }
    }
</div>
