@model MvcSiteMapMenuCollection

@foreach (MvcSiteMapMenuNode node in Model)
{
    String menuLink = node.Action != null ? Url.Action(node.Action, node.Controller, new { area = node.Area }) : "#";
    String menuAddOn = node.Action == null ? "<i class='arrow fa fa-chevron-right'></i>" : String.Empty;
    String menuClass = node.HasActiveSubMenu ? "has-active open" : String.Empty;
    menuClass += node.Submenus.Count > 0 ? " submenu" : String.Empty;
    menuClass += node.IsActive ? " active" : String.Empty;
    menuClass = menuClass.Trim();

    <li class="@menuClass">
        <a href="@menuLink">
            <i class="menu-icon @node.IconClass"></i>
            <span>@node.Title</span>
            @Html.Raw(menuAddOn)
        </a>
        @if (node.Submenus.Count > 0)
        {
            <ul>
                @Html.DisplayFor(model => node.Submenus)
            </ul>
        }
    </li>
}
